*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}


body{
    background-color: #f1f1f1;
}

header {
  background-color: #312a23;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1;
}


@media (max-width: 630px) {
    .navbar-expand-lg {
      flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav {
      width: 100%;
      justify-content: center;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
    }
  }




h1 {
    font-family: 'Cinzel Decorative', serif;
    color: #ed7010;
    font-size: 28px;
    margin: 0;
}

h6 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 12px;
    margin: 0;
    color: #5a3c1399; 
}

.nav-link:hover {
    color: #c7431e !important;
}


.container-fluid { 
    font-family: 'Cinzel Decorative', serif; 
} 

.navbar-nav {
    gap: 4.5rem;
}

.slang h2 { 
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: #ea6117;
}

.slang p{ 
    color: #7e4006;
    font-size: 20px;
    font-family: 'Diphylleia', serif;
    line-height: 1.5;
    margin: 0 auto 20px auto;
    max-width: 580px;
}

.slang {
    text-indent: -3.5em;
}

.slang span{
    font-size: 26px;
    display: block;
    
    
}



hr {
    border: none;
    width: 100%;
    color: transparent;
    border-bottom: 4px solid #d67c07;
    height: 9px;
    margin: 1em 0;
  }
  
h2 {
    font-family: 'Cinzel Decorative', serif;
    color: #c7431e;
    text-align: center;
}



.card img:hover {
    transform: scale(1.5);
    background-color: ;
    width: 100%;
    height: auto;
    transition: transform .7s ease;
  }
  

 


button, input[type=submit], .btn, .product-block .inner .quick-buy, .account-area .action_link, .button {
    display: inline-block; 
    background: #876a52;
    color: #f7eee9;
    border: 2px solid #876a52;
    height: auto;
    width: auto;
    padding: 9px 1.4em;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 0px;
    transition: opacity 200ms, background-color 150ms, border-color 150ms, filter 200ms, -webkit-filter 200ms;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.01em;
    line-height: 1.3em;
    box-sizing: border-box;
    
    
}




button:hover{
    background-color: #904320 ;
    cursor: pointer;
}

.price {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d02b2b;
  }


 .col p{
    font-family: Helvetica, sans-serif;
}

 h4{
    font-family: 'Philosopher', sans-serif;
    color: #db8344;
    text-align: center;
 
}



.chocolate-header {
    font-size: 1.5em;
    color: #ff7300 !important;
    text-align: center;
    background-color: #de934c !important;
    padding: 10px;
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #e09142 !important;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  th {
    background-color: #477b97a7 !important;
    font-weight: bold;
    font-size: 1.1em;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td:last-child {
    font-weight: bold;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #477b97a7;
  }
  
  tbody tr:hover {
    background-color: #09833a;
  }
  
  @media screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    th,
    td {
      padding: 12px;
      border: none;
      border-bottom: 1px solid #ddd;
      width: 100%;
    }
  
    th {
      text-align: center;
    }
  
    tbody tr:nth-child(even) {
      background-color: transparent;
  
    }
  }


#faq{
    background-color: #507464;
}

#constant{
    background-color: #f1f1f1;

}

h2.faq{
   
    font-family: 'Protest Riot', sans-serif !important;
    text-align: center;
    color: #cb0505;
}

hr.orange{
    border: none;
    width: 100%;
    color: transparent;
    border-bottom: 4px solid #e80404;
    height: 9px;
    margin: 1em 0;
 

}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1rem;
  }


.box1{
  width: 250px;
  height: 250px;
  background-color: #e06e27;
  margin: 5rem auto;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.box1:hover {
    transform: perspective(400px) rotateX(45deg);  
    user-select: none;
    cursor: wait;
    cursor: pointer;
    cursor: auto;
}
    


 #num1{
    background-image: url("https://www.ambriona.com/cdn/shop/files/10_edb57877-7587-4740-89eb-dad74ef2edd8_180x@2x.png?v=1691131574");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat; 
}
  

#num2{
    background-image: url("https://www.ambriona.com/cdn/shop/files/14_d9d9d205-2d15-49ad-b12a-9b85993dcd5b_180x@2x.png?v=1691131574");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat; 
}
  

#num3{
    background-image: url("https://www.ambriona.com/cdn/shop/files/11_64b1c0ba-5db9-4e57-b6e8-5affd6c60bed_180x@2x.png?v=1691131572");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat; 
}
  

.box2{
    width: 250px;
    height: 250px;
    background-color: #0a8e4e;;
    margin: 5rem auto;
    border-radius: 1rem;
    transition: all 0.5s ease;
 }
  

.box2:hover {
    transform: perspective(400px) rotateX(45deg);  
    user-select: none;
    cursor: wait;
    cursor: pointer;
    cursor: auto;
 }

  #num4{
    background-image: url("https://www.ambriona.com/cdn/shop/files/9_545e1246-6e8a-4845-b228-f8471e864031_180x@2x.png?v=1691131574");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat; 
}

#num5{
    background-image: url("https://www.ambriona.com/cdn/shop/files/13_a149225d-e900-4210-90d0-3b3eb5346654_180x@2x.png?v=1691131573");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat; 
}


#num6{
    background-image: url("https://www.ambriona.com/cdn/shop/files/12_aac06654-18de-4893-801a-98e8fa118181_180x@2x.png?v=1691131574");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat; 
}

h3.hmotto{
    font-family: 'Protest Riot', sans-serif !important;
    text-align: center;
    color: #cb0505;
}


h1.pfont{
  font-family: 'Poppins', sans-serif !important;
  color:#0076c5;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 4px;
}

.form-label{
  font-family: 'Poppins', sans-serif !important;
  color:#2d95da;

}

#contact{
padding: 1rem;
}


footer {
background-color: #21323b;
padding: 30px;
text-align: center;
}

footer p {
margin-bottom: 10px;
font-family: 'Philosopher', sans-serif;
font-size: 1.5rem;
color: #d2e4ed;



}


footer a {
color: #1a5350f2;
text-decoration: none;
transition: color 0.3s;
}
:hover { 
color: #ccc;
} 

footer>h2{
font-family: 'DM Sans', sans-serif;
color: #00aaff;
font-size: 4rem;
margin-bottom: 2rem;

}


.social-media {
display: flex;
justify-content: center;
align-items: center;
}

.social-media a {
margin: 0 10px;
font-size: 2rem;
color: #333;
text-decoration: none;
}

p.copyright{
font-size: 13px;
padding: 10px;
text-align: left;
font-family: 'DM Sans', sans-serif !important;
}


.links-icons{
width: auto;
height: auto;
display: flex;
justify-content: space-around;
align-items: center;
height: 16vh;
}

footer a{
background-color: #2c2828;
padding: 10px;
border-radius: 50%;
}

i{
color: rgb(0, 170, 255);
}

a:hover i{
color: blue;
transform: scale(1.4);
}