body{
    background-color: #f1f1f1;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

@media (max-width: 630px) {
    .navbar-expand-lg {
      flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav {
      width: 100%;
      justify-content: center;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
    }
  }




h1 {
    font-family: 'Cinzel Decorative', serif;
    color: #ed7010;
    font-size: 28px;
    margin: 0;
}

h6 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 12px;
    margin: 0;
    color: #5a3c1399; 
}

.nav-link:hover {
    color: #c7431e !important;
}


.container-fluid { 
    font-family: 'Cinzel Decorative', serif; 
} 

.navbar-nav {
    gap: 4.5rem;
}

.slang h2 { 
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    color: #ea6117;
}

.slang p{ 
    color: #7e4006;
    font-size: 20px;
    font-family: 'Diphylleia', serif;
    line-height: 1.5;
    margin: 0 auto 20px auto;
    max-width: 580px;
}

.slang {
    text-indent: -3.5em;
}

.slang span{
    font-size: 26px;
    display: block;
    
    
}



hr {
    border: none;
    width: 100%;
    color: transparent;
    border-bottom: 4px solid #d67c07;
    height: 9px;
    margin: 1em 0;
  }
  
h2 {
    font-family: 'Cinzel Decorative', serif;
    color: #c7431e;
    text-align: center;
}



.card img:hover {
    transform: scale(1.5);
    background-color: ;
    width: 100%;
    height: auto;
    transition: transform .7s ease;
  }
  

 


button, input[type=submit], .btn, .product-block .inner .quick-buy, .account-area .action_link, .button {
    display: inline-block; 
    background: #876a52;
    color: #f7eee9;
    border: 2px solid #876a52;
    height: auto;
    width: auto;
    padding: 9px 1.4em;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 0px;
    transition: opacity 200ms, background-color 150ms, border-color 150ms, filter 200ms, -webkit-filter 200ms;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.01em;
    line-height: 1.3em;
    box-sizing: border-box;
    
    
}




button:hover{
    background-color: #904320 ;
    cursor: pointer;
}

.price {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d02b2b;
  }


 .col p{
    font-family: Helvetica, sans-serif;
}

 h4{
    font-family: 'Philosopher', sans-serif;
    color: #db8344;
    text-align: center;
 
}



.chocolate-header {
    font-size: 1.5em;
    color: #ff7300 !important;
    text-align: center;
    background-color: #de934c !important;
    padding: 10px;
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #e09142 !important;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  th {
    background-color: #477b97a7 !important;
    font-weight: bold;
    font-size: 1.1em;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td:last-child {
    font-weight: bold;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #477b97a7;
  }
  
  tbody tr:hover {
    background-color: #09833a;
  }
  
  @media screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    th,
    td {
      padding: 12px;
      border: none;
      border-bottom: 1px solid #ddd;
      width: 100%;
    }
  
    th {
      text-align: center;
    }
  
    tbody tr:nth-child(even) {
      background-color: transparent;
  
    }
  }


#faq{
    background-color: #507464;
}

#constant{
    background-color: #f1f1f1;

}

h2.faq{
   
    font-family: 'Protest Riot', sans-serif !important;
    text-align: center;
    color: #cb0505;
}

hr.orange{
    border: none;
    width: 100%;
    color: transparent;
    border-bottom: 4px solid #e80404;
    height: 9px;
    margin: 1em 0;
 

}