*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  body{
      background-color: #312a23;
  
  }



.col p{
    font-family: Helvetica, sans-serif;
}

 h4{
    font-family: 'Philosopher', sans-serif;
    color: #db8344;
    text-align: center;
 
}

hr {
    border: none;
    width: 100%;
    color: transparent;
    border-bottom: 4px solid #d67c07;
    height: 9px;
    margin: 1em 0;
  }



h2 {
    font-family: 'Cinzel Decorative', serif;
    color: #c7431e;
    text-align: center;
}



.chocolate-header {
    font-size: 1.5em;
    color: #ff7300 !important;
    text-align: center;
    background-color: #de934c !important;
    padding: 10px;
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #e09142 !important;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  th {
    background-color: #477b97a7 !important;
    font-weight: bold;
    font-size: 1.1em;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td:last-child {
    font-weight: bold;
  }
  
  thead th {
    position: sticky;
    top: 0;
    background-color: #477b97a7;
  }
  
  tbody tr:hover {
    background-color: #09833a;
  }
  
  @media screen and (max-width: 600px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    th,
    td {
      padding: 12px;
      border: none;
      border-bottom: 1px solid #ddd;
      width: 100%;
    }
  
    th {
      text-align: center;
    }
  
    tbody tr:nth-child(even) {
      background-color: transparent;
  
    }
  }
